body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3em 0 0em 0;
  text-align: center;
}

#listOfArticles{}
.articleContent{}
.articleHeader a{}

span.b {
  display: inline-block;
  margin:0;padding:0;
}